
.root {
  font-family: "Alice", serif;
  line-height: 150px;
  color: #573A37;
}
body {
  background-image: url(assets/bg-image.jpg);
  background-size: cover; /* Resize the background image to cover the entire container */
}
#page {
  box-sizing: border-box;
  padding: 24px;
  width: 800px;
  background-color: #F0E8C2;
  border-radius: 24px;
  margin: 48px auto;
}
img {
  border-radius: 16px;
}
main {
  padding: 24px;
}
section + section {
  margin-top: 24px;
}
#about p + p {
  margin-top: 12px;
}
h1 {
  line-height: 140%;
  font-size: 40px;
}
h2{
  font-size: 24px;
}
h1, h2 {
  color: #291B1A;
  margin-bottom: 4px;
}
ul {
  padding: 12px;
}